.dataEntry {
  display: flex;
  flex-flow: column;
  flex: auto;
}
.components {
  display: flex;
}
.recipe {
  display: flex;
}
.name {
  display: flex;
  justify-content: center;
}
.ingredientContainer {
  display: flex;
  justify-content: space-around;
}
.categoryLabel {

}
.triviaContainer {
  display: flex;
  justify-content: space-around;
}
.cocktailInstructions {

}
/*
.cocktailIngredients {
  display: inline-flex;
  flex-flow: column;
  flex-grow: 1;
}
.cocktailAmounts {
  display: inline-flex;
  flex-flow: column;
  flex-grow: 1;
}
.categoryLabel {
  display: flex;
}*/
