.logoDiv {
  display: flex;
  justify-content: center;
  width: "100%";
  background-image: url("../img/logobg.jpg");
  background-repeat: repeat-x;
}
.navDiv {
  display: flex;
  justify-content: center;
  width: "100%";
}
.logoImg {
}
.navBar {
  font-family: 'Quicksand', sans-serif;
  color: #913915;
}
a {
  text-decoration: none;
  color: #913915;
}
a:hover {
  text-decoration: none;
  color: #e25b23;
}

/*about us css*/
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li {
  float: left;
  padding: 20px;
  list-style-position: inside;
  border: 1px solid black;
}

p {
  font-size: 20px;
  font-family: ;
}

.name {
  font-family: sans-serif;
  height: 100px;
  width: 200px;
}

/*flip css*/
/* entire container, keeps perspective */
.aboutUsLi {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .aboutUsLi:hover, .aboutUsLi.hover {
    transform: rotateY(180deg);
  }

.aboutUsLi, .front, .back {
  width: 300px;
  height: 300px;
}

/* flip speed goes here */
.aboutUsLi {
  transition: 0.9s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
